<div class="row" style="margin: 0px">
  <div class="col-8" style="margin: auto">
    <ul class="nav nav-line" id="myTab" role="tablist"
        style="margin-top: 120px;font-family: 'Century Gothic';font-size: 17px">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
           aria-selected="true">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
           aria-selected="false">Sign Up</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <style>
          .fa:hover {
            color: #687faf
          }
        </style>

        <div class="row" style="margin-top: 60px">
          <div class="col-7">
            <input type="text" class="form-control" placeholder="Email" [(ngModel)]="admin.email">
            <input type="password" class="form-control" placeholder="Password" style="margin-top: 20px"
                   [(ngModel)]="admin.password">
          </div>
          <div class="col-5" style="text-align: center">
            <i class="fa fa-power-off" style="font-size: 70px;margin-top: 8px;cursor: pointer" (click)="login()"
               [ngStyle]="{'color': admin.loginSuccess?'#3B4863':'#ff1f0c'}"></i><br>
            <span *ngIf="!admin.loginSuccess" style="font-weight: bold;color: #ff1f0c">Login Failed</span>
          </div>
        </div>

      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <div class="row" style="margin-top: 60px">
          <div class="col-8">
            <input type="text" class="form-control" placeholder="Email" [(ngModel)]="admin.email">
            <input type="password" class="form-control" placeholder="Password" style="margin-top: 20px"
                   [(ngModel)]="admin.password" (keyup)="confirmPassword()"
                   [ngStyle]="{'border-color': passwordConfirmed?'#d3cdc7':'#ff1f0c'}">
            <input type="password" class="form-control" placeholder="Confirm Password" style="margin-top: 20px"
                   [(ngModel)]="admin.confirmPassword" (keyup)="confirmPassword()"
                   [ngStyle]="{'border-color': passwordConfirmed?'#d3cdc7':'#ff1f0c'}">
          </div>
          <div class="col-4" style="text-align: center">
            <i class="fa fa-arrow-up" style="font-size: 70px;margin-top: 25px;cursor: pointer" (click)="signUp()"
               [ngStyle]="{'color': admin.signUpSuucess==0?'#3B4863':admin.signUpSuucess==1?'#24a40d':'#ff1f0c'}"></i><br>
            <span *ngIf="admin.signUpSuucess==1" style="font-weight: bold;color: #24a40d">Signup Success</span>
            <span *ngIf="admin.signUpSuucess==2" style="font-weight: bold;color: #ff1f0c">Signup Failed</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

