<div class="content ht-100v pd-0">
  <div class="content-body" style="padding: 0px">

    <!--<div class="row" style="background-color: #3B4863">-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"
         style="font-family: 'Century Gothic';color: white;font-size: 23px;font-weight: bold;position: fixed;width: 100%;z-index: 9999">
      <span>Hawk Eye</span>
      <i class="fa fa-power-off" (click)="logout()" style="position: absolute;right: 20px" *ngIf="isLoggedIn()"></i>
    </nav>
    <!--</div>-->

    <app-login *ngIf="!isLoggedIn()"></app-login>
    <app-dashboard *ngIf="isLoggedIn()"></app-dashboard>

  </div><!-- container -->
</div>
