<div class="row" style="margin: 90px 0px 0px 0px;border-bottom: 1px solid #e3e3e3">
  <div class="col-9">
    <!--<div id="myfirstchart" style="height: 250px;margin-bottom: 10px"></div>-->
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [title]="chartOptions.title"
      [plotOptions]="chartOptions.plotOptions"
      [colors]="chartOptions.colors"
    ></apx-chart>
  </div>

  <div class="col-3">
    <div class="row"
         style="font-size: 18px;margin-left: 40px;margin-top: 20px;font-family: 'Century Gothic';font-weight: 600">
      <div class="col-12">
        <i class="fa fa-circle" style="margin-right: 20px;color: #f1e100"></i><span
        style="color: #d7c900">Robberies</span>
      </div>
      <div class="col-12" style="margin-top: 15px">
        <i class="fa fa-circle" style="margin-right: 20px;color: #ffc008"></i><span
        style="color: #ffc008">Murders</span>
      </div>
      <div class="col-12" style="margin-top: 15px">
        <i class="fa fa-circle" style="margin-right: 20px;color: #ff8c06"></i><span
        style="color: #ff8c06">Hit & Run</span>
      </div>
      <div class="col-12" style="margin-top: 15px">
        <i class="fa fa-circle" style="margin-right: 20px;color: #ff1900"></i><span
        style="color: #ff1900">Sexual Crimes</span>
      </div>
      <div class="col-12" style="margin-top: 15px">
        <i class="fa fa-circle" style="margin-right: 20px;color: #d26402"></i><span
        style="color: #d26402">Cyber Crimes</span>
      </div>
      <div class="col-12" style="margin-top: 15px">
        <i class="fa fa-circle" style="margin-right: 20px;color: #943c05"></i><span
        style="color: #943c05">Corruption</span>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin: 15px 0px 0px 0px;font-family: 'Century Gothic';height: calc(100vh - 450px)">
  <div class="col-9">
    <div class="row">
      <div class="col-12" style="font-size: 20px;">
            <span
              style="border-bottom: 1px solid #e26801;border-right: 1px solid #e26801;padding: 0px 10px 2px 10px;color: #e66b02;font-weight: bold">New Information</span>
      </div>

      <div class="col-6" style="font-size: 18px" *ngFor="let message of messages">
        <div class="row"
             style="margin: 10px;padding: 10px;border: 2px solid #cfcfcf;border-radius: 10px;margin-top: 20px;cursor: pointer"
             data-toggle="modal" data-target="#informationModal" (click)="setMessage(message)">
          <div class="col-12">
            <b>Message ({{message.category}})</b><br>
            {{message.details}}<br>
            <b>({{message.time}}) ({{message.msgVerify}})</b>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-3" style="border-left: 1px solid #e3e3e3">
    <div class="row">
      <div class="col-12" style="font-size: 20px;">
            <span
              style="border-bottom: 1px solid #e26801;border-right: 1px solid #e26801;padding: 0px 10px 2px 0px;color: #e66b02;font-weight: bold">New User Requests</span>
      </div>
    </div>
    <div class="row" style="margin-left: 5px;font-size: 17px;margin-top: 20px">
      <div class="col-12" data-toggle="dropdown" style="padding: 0px;margin-top: 10px;cursor: pointer" *ngFor="let user of users"
           (click)="setUser(user)">
        <i class="far fa-user" style="margin-right: 10px"></i> {{user.name}}
      </div>

      <div class="dropdown-menu dropdown-menu-left">
        <!--<div class="dropdown-header">Customer Details</div>-->
        <span class="dropdown-item">
              <span>NIC - {{user.nic}}</span><br>
              <span>Address - {{user.address}}</span><br>
              <span>Email - {{user.email}}</span><br><br>
              <div class="row">
                <div class="col-6" style="text-align: center">
                  <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase"
                          (click)="confirmUser(user)">Confirm</button>
                </div>
                <div class="col-6" style="text-align: center">
                  <button class="btn btn-sm pd-x-15 btn-warning btn-uppercase" data-toggle="modal" data-target="#exampleModal"
                          >Decline</button>
                </div>
              </div>
          </span>
      </div><!-- dropdown-menu -->
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 150px">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--<div class="modal-header">-->
        <!--<h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold">User Request</h5>-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
      <!--</div>-->
      <div class="modal-body">
        Do you want to delete this user?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="cancelUser(user)">Yes</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="informationModalLabel" aria-hidden="true" style="margin-top: 90px">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="font-size: 16px">
        <b>Location :</b> {{message.location}}<br>
        <b>Category :</b> {{message.category}}<br><br>
        <b>Description :</b> {{message.details}}<br><br>
        <b>Time :</b> {{message.time}}

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="verifyMessage(true)">Verify</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="verifyMessage(false)">No</button>
        </div>
      </div>
      <div class="modal-footer" style="margin-bottom: 10px">
        <!--<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="verifyMessage(true)">Verify</button>-->
        <!--<button type="button" class="btn btn-warning" data-dismiss="modal" (click)="verifyMessage(false)">No</button>-->
      </div>
    </div>
  </div>
</div>


